    <form class="container center">
      <div class="page-area">

        <mat-label for = "username" aria-label="username"><b>Username</b></mat-label>
        <input type="text" name="username" id="username" aria-label="enter username">


    <form>
        <mat-label for ="password" aria-label="password"><b>Password</b></mat-label>
        <input type="password" name="password" id="password" aria-label="enter password">
    </form>
    <form>
      <button type="button" (click)="login()" aria-label="login" aria-describedby="result">Login</button>
      <button [routerLink]="['/signup']" aria-label="Sign up">Go to Sign Up</button>
  </form>
  <form>
    <mat-label id="result"></mat-label>
  </form>
      </div>

</form>



