
<a class="skip-main" href="#main">Skip to main content</a>
<main  role="main" aria-labelledby="main"  class="container center">
  <div id = "main" class="page-area">
      <pb-menu></pb-menu>
      <article class="text-box">
        <div>
          <h2><span>Month</span></h2>
            <select (change)="selectChangeHandler($event)">
              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">Mar</option>
              <option value="4">Apr</option>
              <option value="5">May</option>
              <option value="6">Jun</option>
              <option value="7">Jul</option>
              <option value="8">Aug</option>
              <option value="9">Sep</option>
              <option value="10">Oct</option>
              <option value="11">Nov</option>
              <option value="12">Dec</option>
            </select>

        </div>
        <h1>Chart</h1>
        <p>

          <canvas id="myChart" width="200" height="50"></canvas>

        </p>
        <div id="pie"><svg></svg></div>
        <p>
          <!-- <pb-pie-chart></pb-pie-chart> -->
          <!-- <pb-stackedbarchart></pb-stackedbarchart> -->

          <google-chart #chart
              [title]="title"
              [type]="type"
              [data]="dataChart"
              [columnNames]="columnNames"
              [options]="options"
              [width]="widths"
              [height]="heights">
          </google-chart>
        </p>

    </article>


  </div>


</main>

