p.p404 {
  height: 350px;
  background-color: #b4c6f0;
  background-image: url('/assets/401.jpg');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 40px;
}
